/** Extra small devices (portrait phones, less than 576px) */
/********************************************************************/
@media (max-width: 575.98px) {
    .banner_right_area{
        margin-bottom: 40px;
    }
    .common_heading h1 {
        padding: 20px 0 30px;
        font-size: 30px;
    }
    .fs_60 {
        font-size: 30px !important;
    }
    .about_img_1 {
        margin-bottom: 40px;
    }
    .about_left_area h2{
        font-size: 25px;
    }
    .about_right_area {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    .recent_right_area {
        max-width: none;
        margin-left: 0px;
        margin-top: 40px;
        margin-right: 0px;
    }
    .funfact p span{
        margin-top: 20px;
    }
    .c_inner{
        margin-left: 0px;
    }
    .footer_bottom{
        font-size: 12px;
    }
    .recent_center{
        margin-left: 0px !important;
    }
    .funfact img{
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .funfact {
        margin-bottom: 40px;
    }
    .intro_video{
        margin-bottom: 40px;
    }
    .contact_link{
        margin-bottom: 40px;
    }
    .ad_single_wrap {
        margin-bottom: 20px;
    }


}








/** Small devices (landscape phones, 576px and up) */
/********************************************************************/
@media (min-width: 576px) and (max-width: 767.98px) {
    .banner_right_area{
        margin-bottom: 40px;
    }
    .common_heading h1 {
        padding: 20px 0 30px    ;
    }
    .fs_60 {
        font-size: 44px !important;
    }
    .about_img_1 {
        margin-bottom: 40px;
    }
    .recent_right_area {
        max-width: none;
        margin-left: 25px;
        margin-top: 40px;
        margin-right: 0px;
    }
    .recent_center{
        margin-left: 25px !important;
    }
    .funfact img{
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .funfact {
        margin-bottom: 40px;
    }
    .intro_video{
        margin-bottom: 40px;
    }
    .contact_link{
        margin-bottom: 40px;
    }
    .ad_single_wrap {
        margin-bottom: 20px;
    }

}








/** Medium devices (tablets, 768px and up) */
/********************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {

    .banner_right_area{
        margin-bottom: 40px;
    }
    .common_heading h1 {
        padding: 20px 0 30px    ;
    }
    .fs_60 {
        font-size: 44px !important;
    }
    .about_img_1 {
        margin-bottom: 40px;
    }
    .recent_right_area {
        max-width: none;
        margin-left: 25px;
        margin-top: 40px;
        margin-right: 0px;
    }
    .recent_center{
        margin-left: 25px !important;
    }
    .funfact img{
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .funfact {
        margin-bottom: 40px;
    }
    .intro_video{
        margin-bottom: 40px;
    }
    .contact_link{
        margin-bottom: 40px;
    }



}








/** Large devices (desktops, 992px and up) */
/********************************************************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
    

    
}








/** Extra Large devices (desktops, 1200px and up) */
/********************************************************************/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    

    
}








/** Extra Extra large devices (large desktops, 1400px and up) */
/********************************************************************/
@media (min-width: 1400px) {
    


}






